<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
    <script src="http://libs.baidu.com/jquery/1.7.2/jquery.min.js"></script>
    <!-- 引入jquery.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.3.0/echarts.min.js"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 600px;height:400px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

		//建立axjx所需的json数据
        var app={
            xid:[],
            ycu:[]
        };

        //发送ajax请求
        $(document).ready(function () {
       getData();
       console.log(app.xid);
       console.log(app.ycu)
    });

	//设计画图
    function getData() {
         $.ajax({
            url:'/test',
            data:{},
            type:'POST',
            async:false,
            dataType:'json',
            success:function(data) {
                app.xid = data.xid;
                app.ycu = data.ycu;
                myChart.setOption({
                    title: {
                        text: 'CPU'
                    },
                    tooltip: {},
                    legend: {
                        data:['CPU']
                    },
                    xAxis: {
                        data: app.xid
                    },
                    yAxis: {},
                    dataZoom: [{
                          type: 'inside',
                          start: 0,
                          end: 9999
                        }, {
                          start: 0,
                          end: 10,
                          handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
                          handleSize: '80%',
                          handleStyle: {
                            color: '#fff',
                            shadowBlur: 3,
                            shadowColor: 'rgba(0, 0, 0, 0.6)',
                            shadowOffsetX: 2,
                            shadowOffsetY: 2
                          }
                        }],
                    series: [{
                        name: 'CPU',
                        type: 'bar',
                        data: app.ycu
                    }]
                })
            },
             error:function (msg) {
                console.log(msg);
                alert('系统发生错误');
            }
        })
    }
    </script>
</body>
</html>
