<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
    <script src="http://libs.baidu.com/jquery/1.7.2/jquery.min.js"></script>
    <!-- 引入jquery.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.3.0/echarts.min.js"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 600px;height:400px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

		//建立axjx所需的json数据
        var app={
            xid:[],
            ycu:[],
            ymu:[]
        };

        //发送ajax请求
        $(document).ready(function () {
       getData();
       console.log(app.xid);
       console.log(app.ycu);
       console.log(app.ymu);
    });

	//设计画图
    function getData() {
         $.ajax({
            url:'/test',
            data:{},
            type:'POST',
            async:false,
            dataType:'json',
            success:function(data) {
                app.xid = data.xid;
                app.ycu = data.ycu;
                app.ymu = data.ymu;
                myChart.setOption({
                    title: {
                        text: 'CPU'
                    },
                    tooltip: {},
                    legend: {
                        data:['CPU']
                    },
                    xAxis: {
                        data: app.xid
                    },
                    yAxis: {
                    type: 'value'},
                    //
                    series: [
                    {
                        name: 'CPU',
                        type: 'line',
                        data: app.ycu
                    },
                    {
                        name:'Memory',
                        type:'line',
                        data:app.ymu
                    }

                    ]
                })
            },
             error:function (msg) {
                console.log(msg);
                alert('系统发生错误');
            }
        })
    }
    </script>
</body>
</html>
